* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(202, 226, 246);
    text-align: center;
    border: 2px solid black;
    padding: 4vmin;
}

.hide{
    font-size: 17px;
    display: none;
}

h3 {

    font-size: 36px;
    font-weight: bold;
    color: rgb(34, 6, 6);
    margin: 5%;
    padding: 3%;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3 columns of equal width */
    grid-template-rows: repeat(3, 100px);    /* 3 rows of equal height */
    gap: 10px;
    margin-top: 30px;
    font-size: xx-large;
}

.box {
    background-color: rgb(251, 251, 251);
    color: rgb(34, 6, 6);
    border: 2px solid #f1fbfc;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border-width: 1%;
}

.box:hover {
    background-color: #f7dada;
    transform: scale(1.07);
    
}

.new-game{
    color: rgb(34, 6, 6);
    font-size: medium;
    background-color: #ade0f6;
    border-radius: 5px;
    margin: 9% 4% 3% 5%;
    padding-top: 2%;
    padding: 4% 4%;
}
.new-game:hover{
    background-color: #74cff6;
    transform: scale(1.07);
}